{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "stryker": {
            "badge": "/^\\d\\.\\d\\.x$/",
            "report": "/^\\d\\.\\d\\.x$/"
        },
        "text": "php:\/\/stderr",
        "github": true
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 97,
    "minCoveredMsi": 100
}
