<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config https://getpsalm.org/schema/config"
    addParamDefaultToDocblockType="true"
    allowStringToStandInForClass="true"
    cacheDirectory=".cache/psalm"
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    errorBaseline="psalm-baseline.xml"
    errorLevel="1"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    runTaintAnalysis="true"
    strictBinaryOperands="true"
    throwExceptionOnError="true"
    useDocblockPropertyTypes="true"
    allowInternalNamedArgumentCalls="false"
    allowNamedArgumentCalls="false"
    disableSuppressAll="true"
    ignoreInternalFunctionFalseReturn="false"
    ignoreInternalFunctionNullReturn="false"
    memoizeMethodCallResults="true"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
    </projectFiles>
    <plugins>
        <pluginClass class="Ghostwriter\PsalmPlugin\Plugin"/>
    </plugins>
</psalm>
