<?xml version="1.0"?>
<psalm
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    errorLevel="1"
    errorBaseline="psalm-baseline.xml"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    findUnusedCode="true"
    runTaintAnalysis="true"
    strictBinaryOperands="true"
    throwExceptionOnError="true"
    useDocblockPropertyTypes="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name="tests/Fixture"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="suppress">
                <directory name="tests" />
            </errorLevel>
        </MissingConstructor>
        <MissingThrowsDocblock>
            <errorLevel type="suppress">
                <directory name="tests" />
            </errorLevel>
        </MissingThrowsDocblock>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
